img
{
  height:auto;
  max-width:100%;
}

*, *::before, *::after
{
  box-sizing: border-box;
}

.categories-container
{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
}

.container
{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 10%;
}

.container-footer
{
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 10%;
	text-align: center;
}

.container-full
{
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.menu-container
{
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10%;
}

.container-single-annonce
{
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
}

.header-site
{
	background-color: rgb(248, 248, 248);
	border-bottom: 1px solid rgb(210, 210, 210);
}

.menu
{
	display: flex;
	align-items: center;
	height: 100px;
	margin: 0 auto;
}

.menu-nav-header
{
	margin-left: auto;
}

.menu-logo-img
{
	height: 80px;
}

.menu-liens
{
	font-size: 30px;
	margin-left: 30px;
	color: #00AFF5;
	font-weight: bold;
}

.menu-liens-span
{
	display: none;
}

.block-wallpaper
{
	position: relative;
}

.block-wallpaper-img img
{
	min-width: 100%;
}

.block-wallpaper-btn
{
	display: flex;
	flex-direction: column;
	width: 200px;
	margin: 0 auto;
	position: absolute;
	top: calc(50% - 61px);
	left: calc(50% - 100px);
}

.wallpaper-btn
{
	background-color: #00AFF5!important;
	margin-right: 0!important;
}

.block-wallpaper-btn a:last-of-type
{
	margin-top: 50px;
}

.categories-velo-list
{
	text-align: center;
}

.block-section-title
{
	padding: 50px 0 20px 0;

	text-align: center;
}

.section-title
{
	font-size: 40px!important;
}

.card-velo-photo
{
	min-width: 312px;
}

.categories-velo-list
{
	margin: 0 auto;
}

.card-velo
{
	width: 312px;
	margin: 20px 5%;
	display: inline-block;
}

.card-body
{
	position: relative;
}

.card-velo-category
{
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	color: white;
	background-color: #00AFF5;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 20px;
}

.card-footer
{
	background-color: #F7F7F7;
	padding: 5px 0;
	margin-top: -1px;
}

.comment-ca-marche
{
	margin-top: 50px;
	background-color: #272727;
	color: #FFFFFF;
}

.block-step-list
{
	padding-bottom: 50px;
	text-align: center;
}

.block-step-item-description
{
	color: #939393;
}

.block-step-item
{
	margin-top: 50px;
}

.block-step-item-logo
{
	margin: 0 auto;
	font-size: 80px;
	border: 8px solid #F0ECE9;
	border-radius: 50%;
	height: 135px;
	width: 135px;
}

.block-step-item-logo:hover
{
	transition: 0.5s;
}

.step-logo-marker
{
	background-color: #A2C619;
}

.step-logo-marker:hover
{
	border-color: #4A90E2;
}

.step-logo-euro
{
	background-color: #4A90E2;
}

.step-logo-euro:hover
{
	border-color: #F88528;
}


.step-logo-bicycle
{
	background-color: #F88528;
}

.step-logo-bicycle:hover
{
	border-color: #A2C619;
}

.fas-step
{
	margin-top: 20px;
	color: #F0ECE9;
}

.fas-step-euro
{
	margin-right: 6px;
}

.fas-step-bicycle
{
	margin-left: 2px;
}

.block-step-item-title
{
	margin-top: 10px;
}

.block-avantages
{
	padding-bottom: 35px;
}

.avantages-list
{
	margin-top: 20px;
}

.avantages-item
{
	display: flex;
}

.avantages-item-logo
{
	margin: 10px 30px;
	padding: 20px 7px;
	border: 5px solid;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	font-size: 18px;
	font-weight: bold;
}

.avantages-item-infos
{
	padding-top: 14px;
}

.avantages-item-title
{
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.item-economie .avantages-item-title, .item-economie .avantages-item-logo
{
	color: #E96656;
}

.item-ecologie .avantages-item-title, .item-ecologie .avantages-item-logo
{
	color: #34D293;
}

.item-sante .avantages-item-title, .item-sante .avantages-item-logo
{
	color: #3AB0E2;
}

.footer
{
	background-color: #EDEDED;
	padding: 10px 0;
	color: #708C91;
	font-weight: bold;
}

.footer-infos-list li
{
	list-style: none;
	display: inline-block;
}

.footer-infos-list a
{
	color: #708C91;
}

.footer-infos-list span
{
	padding: 0 10px;
}

.block-field-input-photos
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 480px;
}

.photos-label
{
	width: 170px;
	height: 150px;
	padding-top: 32px!important;
	border: 1px dashed #CCCCCC!important;
	background-color: #F2F2F2!important;
}

.photos-label:hover
{
	background-color: #F2F2F2!important;
}

.input-photos
{
	display: none;
}

.text-label
{
	color: #161717;
}

.camera-label
{
	font-size: 60px!important;
	position: relative;
	bottom: 50%;
	transform: translateY(30%);
	color: #161717;
}

.photos-label:hover .camera-plus-label
{
	opacity: 1!important;
}

.camera-plus-label
{
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(230%, -102%);
	font-size: 20px!important;	
	background-color: #F2F2F2;
	border-radius: 50%;
}

.icon-marker
{
	color: #4183D7;
}

.btn-valider-formulaire-annonce
{
	padding: 14px 80px !important;
	margin-bottom: 30px !important;
}

.block-part-form
{
	margin-bottom: 20px;
	border: 1px solid #DDD;
    border-radius: 16px;
    padding: 16px;
    background-color: #FAFAFA;
}

.block-part-form:first-of-type
{
	margin-top: 35px;
}

.block-part-form:last-of-type
{
	margin-bottom: 0px;
}


.champs-obligatoires
{
	font-weight: bold;
	text-align: right;
	margin-top: 0!important;
}

.block-message
{
	padding-top: 50px;
}

.block-message-confirmation
{
	text-align: center;
}

.image-confirmation
{
	width: 350px;
}

.titre-confirmation
{
	color: #3D676C;
}

.block-text-message
{
	margin: 50px 0;
}

.block-btn-message
{
	margin-bottom: 50px;
}

.btn-retour-accueil
{
	margin-top: 20px!important;
}

.titre-suppression
{
	color: #989898 !important;
}

.paragraphe-suppression-span
{
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 30px;
}

.label-hidden
{
	display: none!important;
}

.search-annonce
{
	background-color: #E6EBEF;
	border-bottom: 1px solid #D2D8E0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.list-annonces-found
{
	padding-left: 0;
}

.block-annonce
{
	list-style: none;
	background-color: #FFFFFF;
	border-radius: 6px;
	margin-bottom: 20px;
	box-shadow: 0.5px 0.5px 4px 0.5px #cad1d9;
}

.block-annonce:hover
{
	box-shadow: 1px 1px 8px 1px #cad1d9;
	transition: 0.5s;
}

.block-annonce:hover .titre-annonce
{
	color: #00AFF5;
	transition: 0.5s;
}

.block-img-annonce
{
	background-color: #CAD1D9;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-annonce
{
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	max-width: 100%;
	max-height: 172.5px;
}

.list-annonces-result
{
	background-color: #FAFAFA;
	padding-top: 30px;
	padding-bottom: 20px;
}

.link-annonce
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.number-annonces-found
{
	color: #1a1a1a;
	margin-bottom: 2px;
}

.infos-annonce
{
	padding: 15px 0 20px 25px;
	color: #1a1a1a;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.titre-prix-annonce
{
	margin-bottom: 20px;
}

.titre-annonce
{
	font-size: 20px;
	margin-bottom: 4px;
}

.prix-annonce, .prix-annonce-single
{
	color: #054752;
	font-weight: bold;
	font-size: 16px;
}

.category-annonce
{
	margin-bottom: 7px;
}

.loader-annonce
{
	text-align: center;
	padding: 20px 0;
}

.iframe-localisation-annonce-single
{
	max-width: 100%;
}

.btn-gallery-annonce-single
{
	display: flex;
	margin: 0 auto;
	padding: 0 10px;
}

.my-arrow-left, .my-arrow-right
{
	flex-grow: 1;
	text-align: center;
	padding: 10px;
}

.block-annonce-single
{
	padding: 30px 15px;
	background-color: #FAFAFA;
}

.photo-titre-prix-auteur-category-annonce-single
{
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px rgba(0,0,0,.05);
	border-radius: 6px;
}

.photo-gallery-annonce-single
{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.titre-prix-auteur-category-annonce-single
{
	padding: 20px;
}

.auteur-annonce-single
{
	margin-bottom: 0;
}

.border-annonce-single
{
	border-top: 1px solid #cad1d9;
	padding: 30px 0;
}

.border-annonce-single-small
{
	border-top: 1px solid #cad1d9;
	padding: 15px 0 0 0;
}

.block-btn-options-annonce-single
{
	display: flex;
	flex-direction: column;
}

.btn-options-annonce-single
{
	color: #8191a0;
	transition: 0.5s;
	margin-top: 6px;
}

.btn-options-annonce-single:first-of-type
{
	margin-top: 0px;
}

.btn-options-annonce-single:hover
{
	color: #1A1A1A;
}

.form-reservation-annonce-single
{
	display: flex;
	flex-direction: column;
}

.btn-resvation-annonce-single
{
	margin-top: 15px!important;
}

.signal-annonce, .remove-annonce
{
	margin-bottom: 35px;
}

@media (min-width:860px)
{

	.menu
	{
		justify-content: space-between;
		align-items: center;
	}

	.menu-logo-link
	{
		margin: 0;
	}

	.menu-liens
	{
		margin-left: 100px;
		font-size: 18px;
	}

	.menu-liens-span
	{
		display: inline-block;
	}

	.menu-icones
	{
		margin-right: 10px;
	}

	.block-wallpaper-btn
	{
		width: 500px;
	}

	.wallpaper-btn
	{
		font-size: 32px!important;
		width: 500px;
	}

	.block-wallpaper-btn
	{
		top: calc(50% - 100px);
		left: calc(50% - 250px);
	}

	.photos-label
	{
		margin-right: 20px!important;
	}

	.block-field-input-photos
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		height: 150px;
	}

	.block-annonce
	{
		height: 172.5px;
	}

	.block-img-annonce
	{
		width: 230px;
	}

	.link-annonce
	{
		flex-direction: row;
	}

	.form-reservation-annonce-single
	{
		display: flex;
		flex-direction: row;
	}

	.btn-resvation-annonce-single
	{
		margin-left: 40px!important;
		margin-top: 0px!important;
		padding-right: 50px!important;
		padding-left: 50px!important;
	}

	.block-btn-options-annonce-single
	{
		flex-direction: row;
		justify-content: space-between;
	}

	.btn-options-annonce-single
	{
		margin-top: 0px;
	}
	
}

@media (min-width:1080px)
{
	.block-step-list
	{
		display: flex;
		justify-content: space-between;
	}

	.block-step-item
	{
		width: 33%;
		padding: 0 5%;
	}

	.block-avantages
	{
		display: flex;
	}

	.avantages-text
	{
		width: 55%;
		margin-top: 20px;
		padding-right: 100px;
	}

	.avantages-list
	{
		width: 45%;
		margin-top: 0px;
	}

	.btn-retour-accueil
	{
		margin-top: 0px!important;
	}
}